<html>
    <head>
        <title>Diallo: Jenkins Badges!</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/diallo.css" />
        <link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/font-awesome.css" />
        <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="explore">
                    <a href="/explore">
                        <i class="icon-globe" />
                        Explore
                    </a>
                </div>
                <h1>
                    <a href="/">Diallo</a>
                </h1>
            </div>
            <div class="content">
                <ul class="views">
                    <li class="view">
                        <a href="#">Link to View</a>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">var CLOSURE_NO_DEPS = true;</script>
        <script type="text/javascript" src="/assets/js/diallo.js"></script>
    </body>
</html>
