<html>
    <head>
        <title>Diallo: Jenkins Badges!</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    </head>
    <body>
        <div class="container">
            <h1>Diallo</h1>
            <ul class="nav">
                <li><a href="/">Home</a></li>
            </ul>
            <div class="content">
                <ul class="views">
                    <li class="view">
                        <a href="#">Link to View</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
