<html>
    <head>
        <title>Diallo</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    </head>
    <body>
        <h1>Diallo: <span class="name">View Name</span></h1>
        <ul class="jobs">
            <li class="job">
                <h3>Job Name</h3>
                <ul class="features">
                    <li class="feature">
                        <i></i>
                        Feature One
                    </li>
                </ul>
            </li>
        </ul>
    </body>
</html>
